body{
 background-color: white;  
 
}

.button {
    background-color: #00C8FF;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px;
    font-size: 90%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 330px;
    margin: 0 auto;
   
}
*{
    font-family: 'Noto Sans KR', sans-serif;
}