#result{
   display: none;
   margin : 100;
   padding: 0 auto;
}
.resultname{
    font-size: 17px;
    font-weight: 500;
    color : #00C8FF;
    justify-content: center;
  }
  
  .resultDesc{
    width: 300px;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divider{
      width: 300px;
      color: black;
  }
  
  .kakao{
    color: white;
    background-color: #FEE500;
    font-size: 15px;
    border: 0px;
    border-radius: 5px;
  }
  
  .kakao:hover, .kakao:focus {
    background-color: whitesmoke;
    color: #FEE500;
  }
  
  .gohome{
    color: white;
    background-color: pink;
    font-size: 20px;
    border: 0px;
    border-radius: 20px;
  }
  
  .gohome:hover, .gohome:focus {
    background-color: whitesmoke;
    color: pink;
  }