#result{
  display: none;
  text-align: center;
  border-radius: 20px;
}
#shareResult{
  
  text-align: center;
  border-radius: 20px;
}

.resultname{
  font-size: 17px;
  font-weight: 500;
  color : #00C8FF;
   
}

.resultDesc{
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}
.divider{

    color: black;
  }
  
  .kakao{
    background-color: #FEE500;
      border: none;
      border-radius: 10px;
      color: white;
      padding: 15px;
      font-size: 90%;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      width: 100%;

  }
  
  .kakao:hover, .kakao:focus {
    background-color: whitesmoke;
    color: #FEE500;
  }
  
  .gohome{
    color: white;
    background-color: #00C8FF;
    font-size: 20px;
    border: 0px;
    border-radius: 20px;
    width: 100%;
  }
  
  .gohome:hover, .gohome:focus {
    background-color: whitesmoke;
    color: #00C8FF;
  }